[Unit]
Description=Shovo uWSGI service (domain.example.ext)
After=network.target

[Service]
Type=notify
User=shovo
Group=shovo
WorkingDirectory=/opt/shovo/webapp
EnvironmentFile=/etc/shovo.env
ExecStart=/usr/bin/uwsgi --ini /opt/shovo/domain.example.ext/uwsgi.ini
Restart=on-failure
RestartSec=5s
KillSignal=SIGQUIT
NotifyAccess=all

[Install]
WantedBy=multi-user.target
